<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionResidence.Properties.Settings.ConnectionString"
            connectionString="Data Source=POR7400363\SQLEXPRESS;Initial Catalog=GestionResidence;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GestionResidence.Properties.Settings.GestionResidenceConnectionString"
            connectionString="Data Source=DESKTOP-6RAATB3;Initial Catalog=GestionResidence;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>